/* CSS BY ANGELA ROQUE */
/*GIT 337: WEB CONTENT DESIGN*/
/*ASSIGNMENT 3: FIELD & FEAST*/


/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* CSS RESET */
    /*----------PAGE----------*/
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    .page {
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;
    }

    /*----------HEADER----------*/
    header {
        background-color: #1F2A44;
        color: #FAF9F6;
    }

    /*----------NAV----------*/
    nav {
        background-color: #E5C185;
        color: #1F2A44;
    }

    /*----------MAIN----------*/
    main {
        background-color: #F8F4EC;
    }

    /*----------FOOTER----------*/
    footer {
        background-color: #1F2A44;
    }


/* ROOT VARIABLES */
:root {
    /*COLORS*/
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;                   /*I used this linen white for background*/
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;              /*I used this soft white for font color*/

    /*FONTS*/
    --font: Playfair Display;
}


/* GLOBAL STYLES (mobile first/small) */


        /* NOTE from assignment!!
            Breakpoints based on the mockups
                Global style- small
                Medium- min-width: 600px
                Large- min-width: 900px
                XL- min-width: 1200px
        */


/* MEDIA QUERY (medium) */
@media screen and (min-width: 600px){

}

/* MEDIA QUERY (large) */
@media screen and (min-width: 900px){

}

/* MEDIA QUERY (xl) */
@media screen and (min-width: 1200px){

}
