/* CSS BY ANGELA ROQUE */
/*GIT 337: WEB CONTENT DESIGN*/
/*ASSIGNMENT 3: FIELD & FEAST*/


/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* CSS RESET */
    /*----------PAGE----------*/
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    .page {
        max-width: 1200px;
        margin: 0 auto;
        font-family: var(--font-main);
    }

    body {
        text-align: center;
        align-items: center;
        font-family: var(--font-main);
    }

/*Try to remember to use grid and block*/

    /*----------HEADER----------*/
    header {
        background-color: #1F2A44;
        color: #F8F4EC;
        margin: 0;
        align-items: center;
        padding: 15px;
    }

        header img {
            display: block;
            margin: 0 auto;
            padding: 10px;
            width: 200px;
            height: auto;
        }

        header h1 {
            font-size: 70px;
            padding: 10px;
        }

        header p {
            font-size: 20px;
            font-style: italic;
            padding: 10px;
        }

    /*----------NAV----------*/
    nav {
        background-color: #E5C185;
        font-size: 25px;
    }

        nav ul {
            display: grid;
            grid-template-columns: repeat(3 ,1fr);
            list-style: none;
            width: 100%;
            padding: 0;
            margin: 0 auto;
            gap: 30px;
        }

        nav li a {
            display: block;
            padding: 10px 0;
            text-align: center;
            color: #1F2A44;
            text-decoration: none;
            font-weight: 800;
        }

    /*----------MAIN----------*/
    main {
        background-color: #FAF9F6;
        margin: 0;
        padding: 50px;
        max-width: 950px;
        align-items: center;
    }

    h2 {
        font-size: 30px;
    }
    
    p {
        font-size: 15px;
    }

    h3 {
        font-size: 25px;
    }

        #About-Us {
            border: none;
            border-bottom: #E5C185 solid 1px;
            margin: 0 auto;
            width: 100%;
            text-align: left;
        }

        #Gallery a {
            color: #F8F4EC;
            background-color: #76885B;
            text-decoration: none;
            size: 18px;
            display: block;
            text-align: center;
            padding: 20px 30px;
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            border-radius: 10px;
        }

    /*----------FOOTER----------*/
    footer {
        background-color: #1F2A44;
        margin: 0;
        padding: 30px 0;
    }

        .footer-address {
            color: #F8F4EC;
            padding: 30px 0;
        }

        .footer-address a {
            color: #E5C185;
            text-decoration: none;
            font-weight: bold;
        }

        .footer-social a {
            color: #E5C185;
            text-decoration: none;
            font-weight: bold;
            padding: 30px 0;
        }


/* ROOT VARIABLES */
:root {
    /*COLORS*/
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;                   /*I used this linen white for font color*/
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;              /*I used this soft white for background*/

    /*FONTS*/
    --font-main: 'Playfair Display', serif;
}


/* GLOBAL STYLES (mobile first/small) */


        /* NOTE from assignment!!
            Breakpoints based on the mockups
                Global style- small
                Medium- min-width: 600px
                Large- min-width: 900px
                XL- min-width: 1200px
        */


/* MEDIA QUERY (medium) */
@media screen and (min-width: 600px){
    .page {
        max-width: 100%;
        padding: 0;
        text-align: center;
    }
}

/* MEDIA QUERY (large) */
@media screen and (min-width: 900px){
    .page {
        max-width: 100%;
        padding: 0;
        text-align: center;
    }
}

/* MEDIA QUERY (xl) */
@media screen and (min-width: 1200px){
    .page {
        max-width: 100%;
        padding: 0;
        text-align: center;
    }
}
