/* CSS BY ANGELA ROQUE */
/*GIT 337: WEB CONTENT DESIGN*/
/*ASSIGNMENT 3: FIELD & FEAST*/


/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* CSS RESET */
    /*----------PAGE----------*/
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    .page {
        max-width: 1200px;
        margin: 0 auto;
        font: var(--font);
    }

    body {
        text-align: center;
        align-items: center;
    }

    /*----------HEADER----------*/
    header {
        background-color: #1F2A44;
        color: #FAF9F6;
        margin: 0;
        align-items: center;
    }

        header h1 {
            font-size: 50px;
            padding: 10px;
        }

        header p {
            font-size: larger;
            font-style: italic;
            padding: 10px;
        }

    /*----------NAV----------*/
    nav {
        background-color: #E5C185;
        color: #1F2A44;
    }

        nav ul {
            display: flex;
            justify-content: center;
            list-style-type: none;
            text-decoration: none;
            font-size: larger;
            padding: 10px 0;
        }

        nav li {
            padding: 10px 0;
        }

        nav li a {
            padding: 10px 20px;
            text-align: center;
        }

        nav li a:hover {
            background-color: #2B2B2B;
        }

    /*----------MAIN----------*/
    main {
        background-color: #F8F4EC;
    }

    #Gallery a {
        color: #FAF9F6;
        text-decoration: none;
    }

    /*----------FOOTER----------*/
    footer {
        background-color: #1F2A44;
    }

        .footer-address {
            color: #FAF9F6;
        }

        .footer-address a {
            color: #E5C185;
            text-decoration: none;
        }

        .footer-social a {
            color: #E5C185;
            text-decoration: none;
        }


/* ROOT VARIABLES */
:root {
    /*COLORS*/
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;                   /*I used this linen white for background*/
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;              /*I used this soft white for font color*/

    /*FONTS*/
    --font: Playfair Display;
}


/* GLOBAL STYLES (mobile first/small) */


        /* NOTE from assignment!!
            Breakpoints based on the mockups
                Global style- small
                Medium- min-width: 600px
                Large- min-width: 900px
                XL- min-width: 1200px
        */


/* MEDIA QUERY (medium) */
@media screen and (min-width: 600px){
    .page {
        max-width: 100%;
        padding: 0;
        text-align: center;
    }
}

/* MEDIA QUERY (large) */
@media screen and (min-width: 900px){
    .page {
        max-width: 100%;
        padding: 0;
        text-align: center;
    }
}

/* MEDIA QUERY (xl) */
@media screen and (min-width: 1200px){
    .page {
        max-width: 100%;
        padding: 0;
        text-align: center;
    }
}
