/* CSS BY ANGELA ROQUE */
/*GIT 337: WEB CONTENT DESIGN*/
/*ASSIGNMENT 3: FIELD & FEAST*/


/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* CSS RESET */
    /*----------PAGE----------*/
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    .page {
        max-width: 1200px;
        margin: 0 auto;
        font-family: var(--font-main);
        color: #2B2B2B;
    }

    body {
        text-align: center;
        align-items: center;
        font-family: var(--font-main);
    }

/*Try to remember to use grid and block*/

    /*----------HEADER----------*/
    header {
        background-color: #1F2A44;
        color: #F8F4EC;
        margin: 0;
        align-items: center;
        padding: 15px;
    }

        header img {
            display: block;
            margin: 0 auto;
            padding: 10px;
            width: 200px;
            height: auto;
        }

        header h1 {
            font-size: 70px;
            padding: 10px;
        }

        header p {
            font-size: 20px;
            font-style: italic;
            padding: 10px;
        }

    /*----------NAV----------*/
    nav {
        background-color: #E5C185;
        font-size: 25px;
    }

        nav ul {
            display: grid;
            grid-template-columns: repeat(3 ,1fr);
            list-style: none;
            width: 100%;
            padding: 0;
            margin: 0 auto;
            gap: 15px;
        }

        nav li a {
            display: block;
            padding: 10px 0;
            text-align: center;
            color: #1F2A44;
            text-decoration: none;
            font-weight: 800;
        }

    /*----------MAIN----------*/
    main {
        margin: 0 auto;
        padding: 50px 25px;
        max-width: 900px;
        align-items: center;
    }

    h2 {
        font-size: 30px;
        font-weight: lighter;
    }
    
    p {
        font-size: 17px;
    }

    h3 {
        font-size: 25px;
    }

        #About-Us, #Offerings, #Gallery {
            border: none;
            border-bottom: #E5C185 solid 1px;
            text-align: left;
            padding: 20px 0;
            width: 100%;
        }

        #Offerings {
            display: block;
        }

            #Offerings h2 {
                color: #2B2B2B
            }

            .Artisan-Provisions, .Exclusive-Dining-Experiences, .The-Field-Feast-Monthly-Basket {
                background-color: #76885B;
                color: #F8F4EC;
                text-align: left;
                display: block;
                padding: 20px;
                width: 100%;
                margin: 0;
                border-radius: 10px;
                box-shadow: 0 5px 4px #76885B;
            }

            .The-Field-Feast-Monthly-Basket ul {
                padding-left: 20px;
            }

        #Gallery {
            display: grid;
            grid-template-columns: repeat 1fr;
            gap: 20px;
            text-align: left;
            align-items: center;
        }

            .tomatoes, .olive-oil, .table-setting, .chef-plating, .basket {
                background-color: #F8F4EC;
                padding: 0;
                text-align: center;
                margin: 0;
                border-radius: 10px;
                box-shadow: 0 5px 4px #76885B;
                font-style: italic;
                display: grid;
                grid-template-rows: 1fr auto;
            }

            #Gallery h2 {
                padding: 0;
                gap: 0;
            }

            #Gallery img {
                object-fit: cover;
                display: block;
                width: 100%;
                height: auto;
                border-radius: 10px 10px 0 0;
            }

            #Gallery div p {
                margin: o;
                padding: 10px;
            }

            #Gallery a {
                color: #F8F4EC;
                background-color: #76885B;
                text-decoration: none;
                font-size: 18px;
                display: block;
                text-align: center;
                padding: 20px 30px;
                width: 100%;
                max-width: 900px;
                margin: 0 auto;
                border-radius: 10px;
            }

    /*----------FOOTER----------*/
    footer {
        background-color: #1F2A44;
        margin: 0;
        padding: 30px 0;
    }

        .footer-address {
            color: #F8F4EC;
            padding: 30px 0;
        }

        .footer-address a {
            color: #E5C185;
            text-decoration: none;
            font-weight: bold;
        }

        .footer-social a {
            color: #E5C185;
            text-decoration: none;
            font-weight: bold;
            padding: 30px 0;
        }


/* ROOT VARIABLES */
:root {
    /*COLORS*/
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;                   /*I used this linen white for font color*/
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;              /*I used this soft white for background*/

    /*FONTS*/
    --font-main: 'Playfair Display', serif;
}

    /* ANOTHER SELF NOTE for page font size consistency!!!
                        For font sizes I used
                        70px = h1
                        20px = header p
                        25px = nav and h3
                        30px = h2
                        17px = p
    */

        /* NOTE from assignment!!
            Breakpoints based on the mockups
                Global style- small
                Medium- min-width: 600px
                Large- min-width: 900px
                XL- min-width: 1200px
        */

/* GLOBAL STYLES (mobile first/small) */


/* MEDIA QUERY (medium) */
@media screen and (min-width: 600px){
    .page {
        max-width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
    }

        #Offerings {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

            #Offerings h2, .The-Field-Feast-Monthly-Basket {
                grid-column: 1 / -1;
            }

            .Artisan-Provisions, .Exclusive-Dining-Experiences {
                width: auto;
            }

        #Gallery {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

            #Gallery h2, #Gallery p {
                grid-column: 1 / -1;
            }

            .tomatoes, .olive-oil, .table-setting, .chef-plating, .basket {
                width: auto;
            }
}

/* MEDIA QUERY (large) */
@media screen and (min-width: 900px){
    .page {
        max-width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
    }
}

/* MEDIA QUERY (xl) */
@media screen and (min-width: 1200px){
    .page {
        max-width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
    }
}
